@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.profile-card {
  margin: 2% auto auto auto;
  width: 50%;
  display: flex;
  flex-flow: wrap row;
}

.profle-btn {
  margin-right: 15%;
}

.date-submit {
  display: flex;
  flex-direction: column;
}

.date-submit * {
  margin: 1rem 0rem 1rem 0rem;
}

.checkout-tickets {
  border: 2px solid black;
  background-color: white;
}
.checkout-tickets * {
  margin: 0.5rem;
}

.ticket-checkout {
  display: flex;
  justify-content: space-between;
}

.total-div {
  display: flex;
  justify-content: flex-end;
}

.event-card-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-ticket {
  display: flex;
  justify-content: space-between;
}

.order-ticket * {
  margin: 1rem 0rem 1rem 0rem;
}
